.navbar-red-color{
    color: red;
}

.navbar-gray-color{
    color: gray;
}

.navbar-padding{
    padding-right: 0.6em;
    padding-top: 0.2em;
}

.btn-color{
    background-color: #f0f0f0;
    color: black;
}

.btn-set{
    margin-top: 1em;
}

.btn-padding{
    margin-top: 0.4em;
    width: 100%;
    text-align: left;
}

.todo-set{
    margin-top: 1.5em;
}

.calendar-text{
    color: red;
    font-size: 11px;
}

.coming-up-text{
    color: red;
    font-size: 13px;
    padding-left: 0.5em;
}

.coming-up-body-text{
    padding-left: 2em;
    font-size: 13px;
    color: gray;
}

.dot-icon{
    font-size: 6px;
    margin: 0.1em;
    padding: 0.2em
}

.breadcrumb {
    text-align: center;
}


.wd-navbar{
    list-style: none;
    padding: 1rem;
}

.wd-navbar li{
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1em;
    /* text-align: center; */
}

.wd-navbar a i {
    color: red;
    font-size: 2em;
    margin-bottom: 5px;
}

.wd-navbar li a {
    color: red;
}

.kanbas-navbar-icon{
    padding-right: 1rem;
}

.wd-course-navbar{
    background-color: white;
    list-style: none;
    padding: 1rem;
    margin: 0px;
    margin-left: 1rem;
}

.wd-course-navbar a{
    color: red;
    text-decoration: none;
}

.wd-course-navbar i{
    padding-right: 1rem;
}